language: node_js
node_js: "node"

branches:
  except:
  - gh-pages
  - dev

before_script:
  - npm install hexo -g
script:
  - hexo clean && hexo g
  - cd ../
  - mkdir ./public-git
  - cd ./public-git
  - git init
  - git config --global push.default matching
  - git config --global user.email "${GitHubEmail}"
  - git config --global user.name "${GitHubUser}"
  - git remote add origin https://${GitHubKEY}@github.com/SDYZMUN/SDYZMUN-Blog.git
  - git pull origin gh-pages
  - rm -rf ./*
  - cp -rf ../public/* ./
  - git add --all .
  - git commit -m "Travis CI Auto Builder"
  - git push --quiet --force origin HEAD:gh-pages
